body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
}

h2 {
  font-size: 28px;
}

a {
  text-decoration: none;
}

.text {
  text-align: justify;
}

main {
  margin-top: 20px;
}

.box-color {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
}

.text-bold {
  font-weight: bold;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb-full {
  margin-bottom: 130px;
}

.mt20 {
  margin-top: 20px;
}

.flex-row {
  display: flex;
  align-items: center;
}

.gender {
  margin-right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.gender input[type="radio"] {
  display: none;
}

.gender label {
  font-weight: bold;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Ketika Label Radio Button Di-Klik */
.gender input[type="radio"]:checked + label {
  background-color: #4caf50;
  color: #fff;
  border-color: #4caf50;
}

.gender:hover {
  border-radius: 20px;
  background-color: #ccc;
}

input[type="radio"] {
  margin-right: 5px;
}

.form-group {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 10px;
}

.input-icon {
  margin-right: 10px;
}

.input-number {
  border: none;
  width: 100%;
  font-size: 16px;
}

.btn-red {
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  background-color: #f44336;
}

.btn-red:hover {
  background-color: #7a2620;
}

.btn-green {
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  background-color: #4caf50;
}

.btn-green:hover {
  background-color: #3d633f;
}

ul {
  margin-bottom: 10px;
}

li {
  margin-bottom: 5px;
}

.box-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-value {
  font-size: 35px;
}

.img-content {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}

footer p {
  margin: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
